<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-3 col-6 footer-contact">
          <h3>AMAZE</h3>
          <p>
            Kinfra Calicut <br>
            KERALA, INDIA <br>
            <br>
            <strong>Phone:</strong> +91 12 34 56 78 90<br>
            <strong>Email:</strong> info@amazemen.shop<br>
          </p>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/shop">Shop</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/#new">New</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/#offerzone">OfferZone</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-6 footer-links ">
          <h4>Our Social Networks</h4>
          <p style="color: white;">Contact us through our Social Networks</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.skype.com/en/" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>AMAZE</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a style="cursor: pointer;">AMAZE</a>
    </div>
  </div>
</footer><!-- End Footer -->