{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<style>
  body {
    background-color: #461010;
  }

  .mainbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem !important;
    position: absolute;
    left: 20%;
    top: 8%;
  }

  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
  }

  .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem !important;
    position: absolute;
    left: 68%;
    top: 8%;
  }

  .msg {
    color: #ffffff;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>

<section class="vh-100 bg-image"
  style="background-image: url('/errorimages/holding\ bags.jpg'); background-size: cover;backgrou	nd-repeat: no-repeat;height: 100vh;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">

    <body>
      <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">Maybe this page moved? Got deleted?
          <p>Go back to Home </p>
          <a href="/" class="btn btn-success">Home</a>
        </div>
      </div>
    </body>
  </div>
</section> 