<section class="vh-100 bg-image"
  style="background-image: url('/images/lost-images.png'); background-size: cover;backgrou	nd-repeat: no-repeat;height: 100vh;">

<div  class="col-10 text-secondary d-flex justify-content-end align-items-center vh-100 ">
    <div style="text-align: center;">
      <h1>404</h1>
      <h2>You just lost</h2>
      <h3>Go back to Home</h3>
       <a type="submit" class="btn btn-outline-secondary" href="/">Go Home</a>
      {{!-- <button hre type="button" class="btn btn-outline-secondary">Go Home</button> --}}
    
  </div>
</div>
</section>